@page "/show"
@using EmployeePayrollModelLayer
@using EmployeePayrollManagerLayer
@using EmployeePayrollManagerLayer.Interface
@inject IEmployeeManager manager 


<header class="header-content header">
    <div class="logo-content">
        <img src="../assets/EmpPayrollLogo.png" alt="EP">
        <div>
            <span class="emp-text">EMPLOYEE</span><br>
            <span class="emp-text payroll">PAYROLL</span>
        </div>
    </div>
</header>

<div class="main_Container">
    <div class="header_container">
        <span class="header_text">
            Employee Count : <span class="emp" id="emp_count">@employeeCount</span>
        </span>
        <NavLink class="add_button" href="add">
            <button type="button" class="btn btn-primary" style="float:right">Add Employee</button> 
        </NavLink>
    </div>

    @* TABLE CREATION TO SHOW EMPLOYEES *@
    <div class="table-main">

        @if (employeeList == null) //IF Emp data not found it will show loading

        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table id="display_container" class="table">
                <thead>
                    <tr>
                        <th>ProfileImage</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Department</th>
                        <th>StartDate</th>
                        <th>Salary</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in @employeeList)
                    {
                        <tr class="table-row">
                            <td class="td-img"><img class="profile" src="@employee.Profile" /></td>
                            <td class="table-data">@employee.Name</td>
                            <td class="table-data">@employee.Gender</td>
                            <td class="table-data">@employee.Department</td>
                            <td class="table-data">@employee.Date</td>
                            <td class="table-data">@employee.Salary</td>
                            <td class="table-data" id="notes">@employee.Notes</td>
                            <td class="td-icon">
                                <span>
                                    <a class="nav-link" href="Update/@employee.Id">
                                        @* <img src="./assets/icons/create-black-18dp.svg" alt="edit" /> Edit*@
                                        <button class="btn btn-primary" id="edit">Edit</button>
                                    </a>
                                </span>
                                <span>
                                    <a class="nav-link" href="Delete/@employee.Id">
                                        @*<img src="./assets/icons/delete-black-18dp.svg" alt="delete" /> Delete*@
                                        <button class="btn btn-danger" id="delete">Delete</button>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

    @code {
        List<EmployeeModel> employeeList = new List<EmployeeModel>();
        int employeeCount;
        protected override async Task OnInitializedAsync()
        {
            employeeList = await Task.Run(() => manager.GetAllEmployee());
            employeeCount = employeeList.Count();
        }

    }
